@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
  display: inline;
  font-family: Arial, sans-serif;
  background-color: black;
  background-image: url('what-is-a-chatbot.webp');
  background-size: cover;
  background-position:center;
  padding: 2rem;

}

.container {
  max-width: 500px;
  max-height: 500px;
  margin: 100px auto;
  background:linear-gradient(to left, rgb(252, 252, 248), right, rgb(250, 249, 249));
  padding: 3rem;
  padding-top: 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: "Bungee", sans-serif;
    background: linear-gradient(to left, #f4f405, #e8f80b); 
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
textarea {
  width: 95%;
  height: 100px;
  border: 2px solid black;
  padding: 0.75rem;
  border-radius: 10px 10px 10px 10px;
  resize: vertical;
  transition: box-shadow 0.2s ease;
  font-family: "Libertinus Mono", monospace;
}

textarea:focus,
textarea:hover {
  outline:auto;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
  border-color: #4f46e5;
}

button {
  display: block;
  height: 50px;
  width: 100%;
  padding: 15px;
  background-color: #f98c08;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
  font-family: "Michroma", sans-serif;
}

button:hover {
  background-color: #050505eb; 
}

.chat-box {
  height: 100%;
  width: auto;
  margin-top: 1.5rem;
  background: #f9fafb;
  padding: 1rem;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  
}

.message {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-left: 4px solid #4f46e5;
  background-color: #ffffff;
  
}

.message.user {
  font-weight: bold;
  border-color: #e10d1b;
   font-family: "Lora", serif;
}

.message.ai {
  border-color: #10b981;
   font-family: "Lora", serif;
}
